<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title> Meeting Scheduler </title>
            {% comment %} bootstrap jquery link {% endcomment %}
            <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

            {% comment %} Bootstrap {% endcomment %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

            {% comment %} Medium Stype Editor {% endcomment %}
            <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

            {% comment %} custom css {% endcomment %}
            {% comment %} <link rel = "stylesheet" href="{% static 'problem_solvers_centre/css/master.css' %}"> {% endcomment %}
            <link rel = "stylesheet" href="{% static 'Nbyula_Assignment_1/css/master.css' %}">
            <link rel="stylesheet" href = "{% static 'css/details.css'%}">

            {% comment %} Fonts {% endcomment %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Russo+One&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            
            {% comment %} font Oswald {% endcomment %}
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

            {% comment %} date time pickers
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

            <!-- XDSoft DateTimePicker -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

            <!-- Fengyuan Chen's Datepicker -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script> {% endcomment %}

            {% comment %} <script src="{% url 'meeting_scheduler:js-catalog' %}"></script>
            <script src="{% static '/admin/js/core.js' %}" ></script>
            <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
            <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}"> {% endcomment %}
    </head>

    <body>

        <nav class="navbar navbar-default fixed-top techfont custom-navbar" >
            <div class= "container">
                    {% comment %} anything we put in the navbar will be contained by the container {% endcomment %}
                <ul class="nav navbar-nav">
                    <li> <a href=""> Meeting Scheduler </a> </li>
                </ul>

                <ul class = "nav navbar-nav navbar-right"> 
                    {% if user.is_authenticated %}
                            <li> <a href = ""> My Appointments </a> </li>
                            <li> <a href = ""> Scheduled Meeting </a> </li>
                            <li> <a href="{% url 'logout' %}"> Logout </a> </li>
                            <li class="custom-user"> <a href="{% url 'accounts:account_details' pk=user.pk %}"> <span class="glyphicon glyphicon-user"></span> </a> </li>
                    {% else %}
                    <li> <a href="{% url 'accounts:login' %}" class = "nav navbar-right"> Login </a> </li>
                    <li> <a href="{% url 'accounts:signup' %}"> Sign Up </a> </li>
                    {% endif %}
                </ul>
            </div>
        </nav>


        <div class="container"> 
            {% block content %}

            {% endblock content %}
        </div>

    </body>
</html>